body{
  background-color: #464646;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter-button {
  display: block;
  padding: 5px;
}
.counter{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: block;
  min-width: 200px;
  text-align: center;
}

.messenger { 
  display: table;
  margin-top: 2%;
  margin-left: calc(50% - 400px/2);
  padding: 15px;

  border-radius: 15px;
  border: 1px solid ivory;
  max-width: 400px;
  overflow-y: auto;
}

.chat {
  display: table-cell;
  padding: 15px;
  text-align: left;
  border-radius: 15px;
  border: 1px solid ivory;
  max-width: 400px;
  min-width: 400px;
  max-height: 200px;
  min-height: 200px;

}
.chatSheet {
  padding: 15px;
  text-align: left;
  border-radius: 15px;
  border: 1px solid ivory;
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}
.chatInputs {
  padding: 15px;
}

.messagesUl{
  margin-left: -50px;
}

.chatList{
  display: table-cell;
  border-radius: 15px;

  border-left: 1px solid ivory;
  border-top: 1px solid ivory;
  border-bottom: 1px solid ivory;

}
